@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col col-sm-3">

    </div>
    <div class="col col-sm-3 text-center p-5">
        <a class="btn btn-dark p-4" asp-controller="Department" asp-action="Index">Department</a>

    </div>
    <div class="col col-sm-3 text-center p-5">
        <a class="btn btn-dark p-4" asp-controller="Employees" asp-action="Index">Employee</a>

    </div>
    <div class="col col-sm-3">
    </div>
</div>
